/* Profile.css */
.profile-container {
  max-width: 935px; /* Medida exacta de la caja de IG */
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px 0 20px;
  box-sizing: border-box;
  margin-left: 244px; /* Evita que la sidebar fija lo tape */
}

/* Ajuste si la barra lateral se achica en pantallas medianas */
@media (max-width: 1200px) {
  .profile-container {
    margin-left: 72px;
  }
}

/* Celulares */
@media (max-width: 768px) {
  .profile-container {
    margin-left: 0;
    padding: 10px 0;
  }
}